<h1>Usuários</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name || user.email, user_path(user) %>
      <% if current_user.followings.include?(user) %>
        (Seguindo)
      <% elsif current_user.sent_follow_requests.exists?(receiver: user, status: 'pending') %>
        (Solicitação pendente)
      <% elsif current_user.received_follow_requests.exists?(requester: user, status: 'pending') %>
        <%= button_to 'Aceitar', accept_follow_requests_path(requester_id: user.id), method: :post %>
        <%= button_to 'Rejeitar', reject_follow_requests_path(requester_id: user.id), method: :post %>
      <% else %>
        <%= button_to 'Seguir', follow_requests_path(receiver_id: user.id), method: :post %>
      <% end %>
    </li>
  <% end %>
</ul>
