<h1>Novo Post</h1>
<%= form_with(model: @post, local: true) do |form| %>
  <div>
    <%= form.label :content, 'Conteúdo' %><br>
    <%= form.text_area :content, rows: 4 %>
  </div>
  <div>
    <%= form.submit 'Criar Post' %>
  </div>
<% end %>
